services:
  db:
    image: postgres:16.1-alpine # Usamos la imagen oficial de PostgreSQL
    container_name: postgres-db
    environment:
      POSTGRES_USER: your_user # El nombre de usuario para PostgreSQL
      POSTGRES_PASSWORD: your_password # La contraseña para el usuario de PostgreSQL
      POSTGRES_DB: your_db # El nombre de la base de datos que se creará
    ports:
      - "5432:5432" # Exponemos el puerto 5432 para poder conectar desde la aplicación
    volumes:
      - postgres-datadt:/var/lib/postgresql/data # Persistencia de los datos de PostgreSQL
      - ./vault/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
  vault:
    image: hashicorp/vault:latest
    container_name: vault
    ports:
      - 8200:8200
    environment:
      VAULT_ADDR: "http://0.0.0.0:8200" # Environment variable to access Vault
      VAULT_DEV_ROOT_TOKEN_ID: testtoken
    volumes:
      - ./vault/vault.hcl:/vault/config/vault.hcl:ro # Mount your Vault configuration file
    entrypoint: >
      vault server -config=/vault/config/vault.hcl
    cap_add:
      - IPC_LOCK # Required to lock memory for security
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://127.0.0.1:8200/v1/sys/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

    depends_on:
      - db

volumes:
  postgres-datadt:
