server:
  port: 8888
  servlet:
    context-path: /rapid-config-server
spring:
  main:
    allow-bean-definition-overriding: true
  cloud:
    vault:
      enabled: true
      token: testtoken # Usa una variable de entorno para el token
      kv:
        enabled: true
    config:
      headers:
        X-Vault-Token: testtoken
      server:
        git:
          uri: ""  # Dejamos vacío ya que no usaremos una URI estática
          searchPaths: # Si quieres especificar rutas por defecto
            - "config-repo"
  datasource:
    #url: jdbc:postgresql://192.168.1.98:5432/your_db  # Cambia 'your_db' al nombre de tu base de datos
    url: jdbc:postgresql://localhost:5432/your_db  # Cambia 'your_db' al nombre de tu base de datos
    username: your_user  # Tu nombre de usuario de PostgreSQL
    password: your_password  # Tu contraseña de PostgreSQL
    driver-class-name: org.postgresql.Driver  # Controlador JDBC para PostgreSQL
    hikari:
      maximum-pool-size: 5
      minimum-idle: 2
  jpa:
    hibernate:
      ddl-auto: update  # Estrategia de actualización de esquema, puede ser 'none', 'create', 'create-drop', 'update' Dialecto de Hibernate para PostgreSQL
    show-sql: false # Habilita el log de las consultas SQL

springdoc:
  swagger-ui:
    path: /swagger-ui.html

configjwt:
  appkey: "hItRXDBELO83t8ZnhqxOeJL0XHBh5HCJd9Tj5DHHsyR3JpGBi/PDt1h6rMuxrFGOpXAL/Dnl+jikpHPNwSE8tg==" # Valor predeterminado

logging:
  level:
    root: ${LOG_LEVEL_ROOT:info}
    com.saguro.rapid.configserver: ${LOG_LEVEL_APP:warn}
